.curiosidades {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 20px;
}

.curiosidades-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.curiosidades-img img {
    width: 140px;
}

.curiosidades-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.curiosidades h2 {
    font-family: 'Bebas Neue', sans-serif;
    line-height: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
}

.curiosidades p {
    font-family: 'Roboto Slab', serif;
    line-height: 1;
    font-size: 0.6rem;
    color: var(--white-color);
}

@media screen and (min-width:768px) {
    .curiosidades {
        padding-top: 30px;
    }

    .curiosidades-img {
        gap: 20px;
    }

    .curiosidades-img img {
        width: 190px;
    }

    .curiosidades-title {
        text-align: left;
    }

    .curiosidades p {
        line-height: 1.3;
    }
}