.curiosidades {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    gap: 20px;
}

.curiosidades-title {
    display: flex;
    flex-direction: column;
}

.curiosidades img {
    width: 100%;
}

.curiosidades h2 {
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1;
    font-size: clamp(2rem, 1vw + 0.1rem, 6rem);
    font-weight: 400;
    color: var(--primary-color);

}

.curiosidades p {
    font-family: 'Roboto Slab', serif;
    font-size: clamp(0.7rem, 0.7vw + 0.1rem, 1.6rem);
    color: var(--white-color);
}