.elenco {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.elenco h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: var(--primary-color);
    text-align: center;
}

.atores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.atores img {
    max-width: 135px;
}