.elenco {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.elenco h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: var(--primary-color);
    text-align: center;
}

.atores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.atores img {
    width: 135px;
}

@media screen and (min-width: 768px) {
    .elenco {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .atores {
        gap: 30px;
    }

    .atores img {
        width: 150px;
    }
}