.elenco {
    display: flex;
    flex-direction: column;
    padding: 20px 0 50px 0;
}

.atores {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.elenco h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: var(--primary-color);
    text-align: center;
}

.elenco div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 670px) {
    .atores {

        justify-content: center;
        align-items: center;
        gap: 20px;
    }

}