.footer {
    padding: 50px;
    background-color: var(--secundary-color);
}

.footer img {
    padding-bottom: 20px;
}

.footer {
    text-align: center;
    color: var(--white-color);
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    font-weight: 500px;
}