.bg-home {
    background-image: url(/assets/img/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero img {
    width: 50%;
    margin-top: 90px;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.hero p {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

.hero button {
    padding: 8px 25px;
    margin-top: 15px;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: var(--white-color);
    background: linear-gradient(0deg, #3B372B, #3B372B), linear-gradient(0deg, var(--secundary-color), var(--secundary-color));
    border: 3px solid var(--secundary-color);
    transition: background-color 0.8s;
    border-radius: 5px;
}

.hero button:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #D2C4A5;
}

@media screen and (max-width: 700px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero img {
        width: 400px;
    }


    .hero p {
        font-size: 0.8rem;
    }

    .hero button {
        font-size: 1rem;
    }
}