.bg-home {
    position: relative;
    height: 250px;

}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    top: -43px;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(6, 28, 30, 0.1),
            #000000A1), url(/assets/img/home-mobile.png);
    background-size: cover;
    opacity: 0.5;

}

.hero {
    padding-left: 10px;
    padding-top: 10px;
}

.hero-img {
    height: 40px;
}

.hero h1 {
    color: var(--primary-color);
    font-size: .6rem;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.hero p {
    width: 12.5rem;
    color: var(--white-color);
    font-size: .5rem;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

.hero button {
    width: 77px;
    height: 20px;
    font-size: .75rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    color: var(--white-color);
    background: linear-gradient(0deg, #3B372B, #3B372B), linear-gradient(0deg, var(--secundary-color), var(--secundary-color));
    border: 3px solid var(--secundary-color);
    transition: background-color 0.8s;
    border-radius: 5px;
}

.hero button:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #D2C4A5;
}

@media screen and (min-width: 768px) {
    .bg-home {
        height: 400px;
        width: 100%;
        background-image: url(/assets/img/home-tablet.png);
        background-size: cover;
    }

    .hero {
        padding-left: 40px;
        padding-top: 40px;

    }

    .hero-img {
        height: 80px;
    }

    .hero h1 {
        color: var(--secundary-color);
        font-size: .775rem;
        font-weight: 700;
        font-family: 'Roboto Slab', serif;
    }

    .hero p {
        width: 200px;
        color: var(--white-color);
        font-size: .65rem;
        font-weight: 500;
        font-family: 'Roboto Slab', serif;
    }

    .hero button {
        width: 110px;
        height: 40px;
        font-size: 1.15rem;
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        color: var(--white-color);
        background: linear-gradient(0deg, #3B372B, #3B372B), linear-gradient(0deg, var(--secundary-color), var(--secundary-color));
        border: 3px solid var(--secundary-color);
        transition: background-color 0.8s;
        border-radius: 5px;
    }
}