.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-item a {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.25rem;
}

.nav-item:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-logo {
    width: 40px;
    height: 40px;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}


/* RESPOSIVIDADE */
@media (max-width:767px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -150%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.3px);
        -webkit-backdrop-filter: blur(9.3px);
        border: 1px solid rgba(255, 255, 255, 0.35);
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* RESPOSIVIDADE TABLET */
@media screen and (min-width: 768px) {
    .nav-item a {
        font-size: .875rem;
    }
}

/* RESPOSIVIDADE DESKTOP */
@media screen and (min-width: 1024px) {
    .navbar {
        padding-top: 30px;
    }

    .nav-logo {
        width: 100px;
        height: 100px;
    }

}