.daryl {
    display: none;
}

.onde_assistir {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 40px;

}

.atores-principais {
    width: 140px;
}

.onde_assistir-title {
    display: flex;
    flex-direction: column;
}

.onde_assistir_canais {
    display: flex;
    align-items: center;
    gap: 20px;
}

.onde_assistir_canais img {
    width: 60px;
}

.onde_assistir h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(2rem, 2vw + 0.1rem, 6rem);
    font-weight: 400;
    line-height: 0;
    color: var(--primary-color);
}

.onde_assistir p {
    font-family: 'Roboto Slab', serif;
    font-size: clamp(0.6rem, 0.6vw + 0.1rem, 4rem);
    font-weight: 500;
    line-height: 1.3;
    color: var(--white-color);
}