.onde_assistir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0;
}

.atores-principais img {
    width: 100%;
}

.onde_assistir-title {
    display: flex;
    flex-direction: column;
}

.onde_assistir_canais {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.onde_assistir_canais img {
    width: 100%;
}

.onde_assistir h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(2rem, 2vw + 0.1rem, 6rem);
    font-weight: 400;
    line-height: 1;
    color: var(--primary-color);
}

.onde_assistir p {
    font-family: 'Roboto Slab', serif;
    font-size: clamp(0.7rem, 0.7vw + 0.1rem, 4rem);
    font-weight: 500;
    color: var(--white-color);
}