.temporadas h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    line-height: 0;
    font-weight: 400;
    color: var(--primary-color);
    text-align: center;
}

.temporadas-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.temporadas-content img {
    width: 100%;
}

.temporadas-content {
    display: flex;
    flex-basis: 45%;
    flex-grow: 1;
    gap: 30px;
}

.temporadas-content h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    line-height: 1;
    font-weight: 400;
    color: var(--primary-color);
}

.temporadas-content p {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--white-color);
}