.temporadas {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
}

.temporadas h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    line-height: 0;
    font-weight: 400;
    color: var(--primary-color);
    text-align: center;
    padding: 20px 0;
}

.temporadas-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.temporadas-content img {
    width: 5.3125rem
}

.temporadas-content {
    width: 280px;
    display: flex;
    gap: .625rem;
}

.temporadas-content h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 400;
    color: var(--primary-color);
}

.temporadas-content p {
    font-family: 'Roboto Slab', serif;
    font-size: .5rem;
    font-weight: 500;
    color: var(--white-color);
}

.temporadas-content-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
}

.temporadas-content-reverse>div {
    text-align: right;
}

@media screen and (min-width: 768px) {
    .temporadas {
        padding-top: 3rem;
    }

    .temporadas h1 {
        font-size: 3rem;
    }

    .temporadas-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .temporadas-content img {
        width: 110px;
    }

    .temporadas-content {
        width: 330px;
    }

    .temporadas-content h2 {
        font-size: 1.4rem;
    }

    .temporadas-content p {
        font-size: .625rem;
        line-height: 1.3;
    }

    .temporadas-content-reverse {
        display: flex;
        flex-direction: row;
        align-self: baseline;
        justify-content: space-between;
    }

    .temporadas-content-reverse>div {
        text-align: left;
    }

}